body {
    font-family: monospace;
    color:  rgb(200, 200, 200);
    background-color: black;
    padding: 0;
    margin: 0;
}

#toolbar {
    position: absolute;
    bottom: 0;
    background-color: rgb(200, 200, 200);
    color: black;
    width: 100%;
}

.control {
    text-decoration: underline;
}

#toolbar a  {
    color: black;
    text-decoration: underline;
}

#toolbar a:visited {
    color: black;
    text-decoration: underline;
}
#toolbar a:hover {
    color: black;
    text-decoration: underline;
}
#toolbar a:active {
    color: black;
    text-decoration: underline;
}

#toolbar .logo {
    vertical-align: middle;
}

#fractal {
    margin-top: 0;
    padding: 0;
    display: inline-block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}